<h1>Add new article</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :title, label: "主題" %>
  <%= f.input :content, label: "內容" %>
  <%= f.button :submit, '提交', class: "btn btn-primary" %>
<% end %>