<% unless author?(article) %>
  <div id="collect-<%= article.id %>">
    <% if user_collected?(article) %>
      <%= link_to "放棄收藏", uncollect_article_path(article), method: :post, remote: true %>
    <% else %>
      <%= link_to "收藏此文章", collect_article_path(article), method: :post, remote: true %>
    <% end %>
  </div>
<% end %>