<div class="dropdown margin-top-bottom">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    選擇分類
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li class="nav-item">
      <%= link_to "全部", articles_path, class: 'dropdown-item' %>
    </li>
    <% Category.all.each do |category| %>
      <li class="nav-item">
        <%= link_to "#{category.name}", category_path(category), class: 'dropdown-item' %>
      </li>
    <% end %>
  </div>
  <div class="input text-center"><%= @category_tag %></div>
</div>

