<div class="padding-top">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "編輯分類", admin_categories_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "更改使用者權限", admin_users_path, class: "nav-link" %>
    </li>
  </ul>
</div>
