.user-profile {
  width: 100%;
  height: 200px;
  background-color: #cecece;
  padding-top: 30px;
  margin-bottom: 30px;
}

.user-avartar {
  width: 100px;
  border-radius: 50%;
  display: block;
}

ul {
  list-style: none;
}

.comment-panel {
  margin-top: 20px;
}

.comment-user-avartar {
  width: 50px;
  border-radius: 50%;
  /*display: block;*/
}