.user-profile {
  width: 100%;
  height: 200px;
  background-color: #cecece;
  padding-top: 30px;
  margin-bottom: 30px;
}

.user-avartar {
  width: 100px;
  border-radius: 50%;
  /*display: block;*/
}

ul {
  list-style: none;
}

.comment-panel {
  margin-top: 20px;
}

.comment-user-avartar {
  width: 50px;
  border-radius: 50%;
  /*display: block;*/
}

.sq-region {
  width: 80%;
  /*height: 80%;*/
  background-color: white;
  display: inline-block;
  
}

.padding-top {
  padding-top: 20px;
}

.padding-top-user {
  padding-top: 100px;
}

.icon-space {
  padding-right: 30px;
}

.padding-bottom-avatar {
  margin-bottom: 10px;
}

.follower-column {
  min-height: 200px;
  border: 1px solid #cecece;
  padding-top: 20px
}

.margin-top-bottom {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}

.sm-grey {
  color: #cecece;
  font-size: 0.8rem;
}
